---
---
@charset "utf-8";


// Our variables
$base-font-family: "Lato", Arial, sans-serif;
$base-font-size:   16px;
$base-line-height: 1.5;
$text-color: black;
$background-color: white;
$spacing-unit:     30px;


// Import partials from `sass_dir` (defaults to `_sass`)
@import
    "base"
    ,"layout"
	// "headings",
	// "icons",
	// "inputs",
	// "instructions"
;
