<footer class="site-footer">

    <h2 class="footer-heading">{{ site.title }}</h2>
	<p>{{ site.description }}</p>
    <p>For websites about the country Turkey at christmas, see <a href="https://www.google.co.uk/search?q=turkey+christmas+country&oq=turkey+christmas+country&aqs=chrome..69i57j0l2.12661j0j7&sourceid=chrome&ie=UTF-8">here</a>.</p>
    <small>{{ site.title }} accepts no responsibility for under cooked or burnt turkeys, or any of the effects they may cause. Please call a doctor or the fire brigade as applicable.</small>

</footer>
