
body,
body * {
	box-sizing: border-box;
}


/**
 * Base styles
 */
body {
    font-size: $base-font-size;
	line-height: $base-line-height;
	font-family: $base-font-family;
    color: $text-color;
    background-color: $background-color;
	margin: 0;
}


// Stylizing it
body {
	margin: $spacing-unit;
	border: 10px solid black;

	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;

	&:before {
		content: "";
		display: block;
		position: fixed;
		top: -15vh;
		left: 0;
		transform: skewY(-10deg);
		height: 50vh;
		width: 100%;
		background: #acf3e9;
	    z-index: -1;
	}
}

.page-container {

	padding: $spacing-unit;
	height: 100%;
	overflow: auto;
}


/**
 * Images
 */
img,
svg {
    max-width: 100%;
    vertical-align: middle;
}


.section {

	border: 1px solid;
	padding: 1em;
	margin-bottom: 2em;
}
