
// Icons
// Some SVG, some CSS

.icon svg {
	width: 100%;
	display: block;
	margin: auto;
	display: block;
	font-size: 0;
}

svg#bird {
	width: 50%; // to be updated with js

}
path#thigh {
	fill: #F0D7B8;
}
path#body {
	fill: #FDEED7;
}

.icon-bird--cooked path#thigh {
	fill: #C34D28;
}
.icon-bird--cooked path#body {
	fill: #C36D40;
}

.icon-clock {
	background: black;
	color: lime;
	padding: 5px;
	text-align: center;
	font-size: 3em;
	font-family: monospace;
}
