
// Instructions


.cooking-time__action {
	display: inline-block;
}
.cooking-time__operator {
	font-size: 3em;
	padding-left: $spacing-unit;
}

/* Layout */
.cooking-time .layout__item {
	display: flex;
	flex-basis: 25%;
}


@media (max-width: 960px) {
	.cooking-time,
	.cooking-time .layout__item {
		display: block; // top the flex
	}
	.cooking-time__action {
		display: flex;
		flex-direction: row-reverse;
	}
	.icon,
	.cooking-time__action__description {
		flex-grow: 1;
	}
	.cooking-time__operator {
		padding: 0;
		display: block;
		text-align: center;
	}
}
